//
// Site Header
//

.Grid {
	margin: 0 auto;
	width: 100%;
	max-width: 44rem;
	@include clearfix;
}

.Grid-col-full,
.Grid-col-half {
	float: left;
	padding: 0 1em;
}

.Grid-col-full {
	width: 100%;
}

.Grid-col-half {
	width: 50%;

	&:last {
		float: right;
	}
}