//
// Page Content
//

.PageContent {
	@extend %full-width;
}

.PageTitle {
	margin: 2em 0 2.5em;
	text-align: center;
}

.PostExcerpt {
	margin-bottom: 3rem;
}

.WorkExcerpt {
	display: block;
	position: relative;
	height: 200px;
	overflow: hidden;

	&:hover {
		text-decoration: none;

		.WorkExcerpt-preview {
			transform: scale(1.1);
		}

		.WorkExcerpt-mask {
			opacity: 0.3;
		}
	}
}

.WorkExcerpt-preview,
.WorkExcerpt-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.15s ease;
}

.WorkExcerpt-preview {
	@extend %background-stretch;
}

.WorkExcerpt-mask {
	background: $base-accent-color;
	opacity: 0;
}

.WorkExcerpt-title {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: white;
}
