//
// Colors
//

$dark: #444;
$green: #4AC987;
$blue: #5EA8C9;
$turquoise: #09AAAF;
$grey: #888;
$grey-light: #f1f1f1;

$link-color: $turquoise;

$header-color: $dark;
$social-link-color: $grey;
$logo-color: $green;